:root {
  --primary-color: #000;
  --background-color: #fff;
  --dark-grey: #2b2b2b;
  --font: 'Roboto Condensed', sans-serif;
}

header {
  background-color: var(--background-color);
  color: var(--primary-color);
  font-family: var(--font);
  font-weight: 100;
  font-size: 22px;
  line-height: 1.6;
  padding-right: 25px;
  clear: both;
  display: flex;
  flex-direction: column;
  text-align: right;
}

body {
  background-color: var(--background-color);
  color: var(--primary-color);
  font-family: var(--font);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
}

footer {
  background-color: var(--background-color);
  color: var(--primary-color);
  font-family: var(--font);
  font-weight: 300;
  font-size: 12px;
  line-height: 1.6;
  flex-direction: row;
  text-align: center;
}

a:hover {
  text-decoration: none;
  font-size: 28px;
  font-weight: bold;
  cursor: default;
}

a:visited {
  color: #0b0080;
}

a:active {
  color: #f00;
}

button {
  border: none;
  background-color: #ff7f50;
  color: white;
  font-size: 24px;
  font-family: inherit;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
}

button:hover,
button:focus {
  cursor: pointer;
  opacity: 0.5;
  transition-duration: 1.5s;
  transition-property: opacity;
}

img {
  border-radius: 50%;
}

* {
  box-sizing: border-box;
}

.grid {
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 10px;
}

.grid__item {
  background-color: gray;
  color: white;
  text-align: center;
  min-height: 100px;
  margin: 10px;
}

@media all and (max-width: 500px) {
  .grid {
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }

  .grid__item {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }
}

h1 {
  font-size: 18px;
}

@media all and (min-width: 500px) and (max-width: 750px) {
  .grid {
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
  }

  .grid__item {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }
}

h1 {
  font-size: 22px;
}

@keyframes bird-move {
  from {
    transform: translate(-250px, 100px);
  }

  to {
    transform: translate(150px, 100px);
  }
}

.bird {
  animation-duration: 30s;
  animation-name: bird-move;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-timing-function: linear;
}
