:root {
  --primary-color: #000;
  --background-color: #fff;
  --dark-grey: #2b2b2b;
  --font: 'Roboto Condensed', sans-serif;
}

header {
  margin: 10px;
  background-color: var(--background-color);
  color: var(--primary-color);
  font-family: var(--font);
  font-weight: 100;
  font-size: 22px;
  line-height: 1.6;
  clear: both;
  display: flex;
  flex-direction: column;
  text-align: right;
}

nav{
  float: right;
  width: 100vw;
  height: 8vh;
}

.nav{
  font-size: 20x;
  display: inline-flex;
  padding: 10px 0;
  text-align: center;
  transition: padding 0.3s ease;
  border-radius: 10px 40px 20px 50px; 
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background-color: #eed9c4;
}

main a:hover{
  text-decoration: underline;
}

body {
  background-color: var(--background-color);
  color: var(--primary-color);
  font-family: var(--font);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  flex-direction: column;
  text-align: center;
  min-height: 100vh;
  display: flex;
}

footer {
  background-color: var(--background-color);
  color: var(--primary-color);
  font-family: var(--font);
  font-weight: 300;
  font-size: 12px;
  line-height: 1.6;
  flex-direction: column;
  text-align: center;
  margin-top: auto;
}

a:link{
  color: #000;
  text-decoration: none;
}

a:visited {
  text-decoration: none; 
  color: #000;
}

a:hover {
  
  font-size: 28px;
  font-weight: bold;
  cursor: default;
}



a:active {
  text-decoration: none; 
  color: #910448;
}

.info{
  font-size: 30px;
}


button {
  border: none;
  background-color: #000;
  color: white;
  font-size: 24px;
  font-family: inherit;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
}

button:hover,
button:focus {
  cursor: pointer;
  opacity: 0.5;
  transition-duration: 1.5s;
  transition-property: opacity;
}

.container {
  padding-top: 50px;
  display: flex;
  line-height: 0%;
  align-items: center;
  justify-content: center;
}

.mountain{
  position: relative;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}
.mountain img{
 
  width: 100%;
  z-index: 0;
  object-fit: scale-down;
  
}


.imag {
  margin-left: 25px;
  margin-right: 650px;
  border-radius: 5%;
  border-width: 1px;
  border-color: #000;
  border-style: solid;
  position: relative;
  margin: 5px;
}



h2 {
  float: center;
}

* {
  box-sizing: border-box;
}

.grid {
  
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-left: 50px;
  padding-right: 50px;
  
}

.grid__item {
  box-shadow: 0 10px 10px rgb(0 0 0 / 0.2);
  background-color: #fafafa;
  border-color: #000;
  border-radius: 5%;
  border-width: 1px;
  border-style: solid;
  color: #000;
  text-align: center;
  min-height: 100px;
  margin: 10px;
}


.pic {
  border-radius: 20%;
}

@keyframes bird-move {
  0% {
    top: 0vh;        /* Start at the top edge */
    left: -25vw;       /* Start at the left edge */
  }
  100% {
    top: calc(90vh - 40vh);     /* Move to the bottom edge */
    left: calc(90vh - 40vh);    /* Move to the right edge */
  }
}



.bird {
  position: relative;
  z-index: 1;
  animation-duration: 20s;
  animation-name: bird-move;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-timing-function: linear;
  width: 100%;
      height: 100%;
      overflow: hidden;
  
}

h1 {
  font-size: 28px;
  color: #000;
  padding: 20px;
  text-wrap: wrap;
}


@media all and (max-width: 500px) {
  .grid {
    display: inline-grid;
    padding-left: 10px;
    padding-right: 10px;
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }

  .grid__item {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }

h1{
  font-size:20px;
}

.bird{
  width: 50%;
  animation: none;
  
}
nav{
  margin-top: 20px;
  float: right;
  width: 100vw;
  height: 8vh;
}
.nav {
  margin-top: 20px;
  font-size: 14px;
  padding: 6px 0; /* Decrease padding for tablets */
}



}


@media all and (min-width: 500px) and (max-width: 750px) {
  .grid {
    display: inline-grid;
    padding-left: 10px;
    padding-right: 10px;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
  }

  .grid__item {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }

  h1{
    font-size: 24px;
  }

  .bird{
    width: 75%;
    animation: none;
  
  }

  nav{
    float: right;
    width: 100vw;
    height: 8vh;
  }

  .nav {
    font-size: 18px;
    padding: 8px 0; /* Decrease padding for phones */
  }
}